.menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    margin-top: 40px;


}

.item {
    margin-top: 14px;
    font-size: 20px;
    z-index: 20;
    color: #323232;
    display: flex;
    align-items: center;
    margin-left: 36px;
    /* background-color: blue; */
    width: 160px;
    height: 46px;
}

a:hover {
    color: #5542f6;
}


.backbtn,
.home,
.Setting,
.Form {
    margin-left: 20px;
    height: 46px;
    width: 160px;
    background: linear-gradient(45deg, #6656f9, #8a75f9);
    // background-color: #6757f2;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    transition: transform 0.2s;
}

.home {


    transform: translateY(-52px);
}

.Setting {

    transform: translateY(8px);

}

.text {
    font-size: 16px;
    margin-left: 8px;
}

.active {
    color: #fff;
}

.Form {
    transform: translateY(68px);
}